@model FacCli

<form method="post">

    <input asp-for="Factura.Cliente.Id" readonly />
    <input asp-for="Factura.Cliente.Nombre" readonly />
    <input asp-for="Factura.Cliente.Codigo" readonly />
    <input asp-for="Factura.Cliente.Direccion" readonly />

    <label asp-for="Factura.Fecha"></label>
    <input asp-for="Factura.Fecha" /> <br />

    <table>
    <tr>
        <td>Codigo</td>
        <td>Descripcion</td>
        <td>Cantidad</td>
        <td>Precio</td>
    </tr>
    <tr>
        <td><input asp-for="Item1.Codigo"/><input asp-for="Item1.Id" type="hidden"/></td> 
        <td><input asp-for="Item1.Descripcion"/></td>
        <td><input asp-for="Item1.Cantidad"/></td>
        <td><input asp-for="Item1.Precio"/></td>
    </tr>
    <tr>
        <td><input asp-for="Item2.Codigo"/><input asp-for="Item2.Id" type="hidden"/></td>
        <td><input asp-for="Item2.Descripcion"/></td>
        <td><input asp-for="Item2.Cantidad"/></td>
        <td><input asp-for="Item2.Precio"/></td>
    </tr>
    <tr>
        <td><input asp-for="Item3.Codigo"/><input asp-for="Item3.Id" type="hidden"/></td>
        <td><input asp-for="Item3.Descripcion"/></td>
        <td><input asp-for="Item3.Cantidad"/></td>
        <td><input asp-for="Item3.Precio"/></td>
    </tr>
    <tr>
        <td><input asp-for="Item4.Codigo"/><input asp-for="Item4.Id" type="hidden"/></td>
        <td><input asp-for="Item4.Descripcion"/></td>
        <td><input asp-for="Item4.Cantidad"/></td>
        <td><input asp-for="Item4.Precio"/></td>
    </tr>
    <tr>
        <td><input asp-for="Item5.Codigo"/><input asp-for="Item5.Id" type="hidden"/></td></td>
        <td><input asp-for="Item5.Descripcion"/></td>
        <td><input asp-for="Item5.Cantidad"/></td>
        <td><input asp-for="Item5.Precio"/></td>
    </tr>
</table>

    <input type="submit" value="Guardar" asp-action="Guardar"/>
</form>

   
